.sidebar {
    padding-left:44px;
    border-right:1.5px solid rgb(202, 199, 199);
    height:100vh;
    width:auto;
    overflow-y: auto;
    background-color: white;
    padding-right: 50px;
   
    /* margin-right: 0; */
    
}

.sidebar::-webkit-scrollbar {
    display:none;
}

.sidebar-icon {
    margin-top: 7px;
    margin-right: 15px;
    color:rgb(56, 189, 241);
    font-size: 30px;
}

.Tweet-btn {
    margin-top: 8px;
    margin-left: 5px;
    padding:9px 80px;
    border-radius:30px;
    color:white;
    background-color: rgb(56, 189, 241);
    font-size: 18px;
   
}

.Tweet-btn:hover {
    background-color: rgb(6, 166, 230);
    border-color:rgb(6, 166, 230);
    transition: 0.2s ease;
}

.Profile-info {
    display:flex;
    gap:14px;
    /* position:absolute;
    bottom:20px;
    left:54px; */
    /* margin-top:70px; */
    position: absolute;
    margin-left:15px;
    bottom: 5%;
    
    /* align-items: center; */
}

.user-info {
    padding:0;
}

.user-info h5 {
    font-weight: 500;
    color:rgb(105, 103, 103);
    /* position: absolute;
    top:599px; */
    position: relative;
    bottom:7px;
}

.profile-more {
    margin-left:9px;
}

.profile-more:visited {
    border:none;
}

/* .basic-menu {
    border-radius:45px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
} */

.highlighted-link {
    color:white;
}

.sidebar-profileimage {
    width:44px;
    height:44px;
    border-radius: 50%;
    object-fit: cover;
}

/* @media only screen and (max-width: 680px) {
    .sidebar {
        display:none;
    }
} */

@media only screen and (max-width: 1200px) and (min-width:900px) {

    .Tweet-btn {
        font-size: 15px;
        padding:8px 65px;

    }

    .sidebar {
        /* width:auto; */
        padding-left:3px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 900px) and (min-width:600px) {
    .sidebar-user {
        display:none;
    }

    .sidebar {
        width:auto;
        padding-left:4px;
        padding-right: 6px;
    }

    .Tweet-btn {
        display:none;
    }

    .profile-more {
        position: relative;
        top: -44px;
        right:55px;
    }
}



@media only screen and (max-width: 600px) {
    .Profile-info {
        display:none;
    }

    .sidebar-icon-container {
        display:none;
    }

    .sidebar {
        position: absolute;
        bottom:0%;
        display:flex;
        justify-content: space-around;
        width:100vw;
        height:6vh;
        background-color:rgba(65, 173, 216, 0.37) ;
        overflow-x: hidden; 
        padding: 0; 
        box-sizing: border-box;
        /* display: none; */
    }

    .Tweet-btn {
        display:none;
    }
}