* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color:black;
    /* padding: 10px; */
}

.login-container {
    display:flex;
    gap:0px;
    width:100vw;
    height: 94vh;
    padding-top:1px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 20px;
    
}

.image-container {
    width:50vw;
    height:94vh;
    /* object-fit:cover; */
}

.image-container img {
    width:100%;
    height:90%;
    object-fit:cover;
}

.form-container {
    height:94vh;
    width:auto;
    color:black;
    padding-top: 70px;
    margin-right: 55px;
    
}

.signup-form-heading {
    color:black;
    font-size:71px;
    margin-top: -25px;
    margin-left: 35px;
}

.Twitter-icon {
    color:rgb(81, 192, 236);
    margin-left:32px;  
    margin-top: 18px;
}

.Twitter-icon-container {
    display: none;
}

.heading-1 {
    color:black;
    font-size:71px;
    margin-top: 12px;
    margin-left: 35px;
    
} 

.heading-2 {
    color:black;
    font-size:29px;
    margin-top: 45px;
    margin-left: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.g-button {
    border-radius:30px;
    margin-left: 50px;
}

.or-class {
    width:60%;
    display:flex;
    gap:0px;
    margin-top: 2%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.or-class .div-1 {
    border-bottom: 1px solid black;
    width:80px;
    height:1px;
    margin: 19px;
}

.or-class p {
    font-size:19px;
}

.or-class .div-2 {
    border-bottom: 1px solid black;
    width:80px;
    height:1px;
    margin: 19px;
}

.signup-btn {
    margin-top: 10px;
    margin-left: 65px;
    padding:12px 45px;
    border-radius:30px;
    color:white;
    background-color: rgba(9, 176, 241, 0.582);
    font-size: 18px;
}

.signup-btn:hover {
    background-color: rgb(6, 166, 230);
    border-color:rgb(6, 166, 230);
    transition: 0.2s ease;
}

.login-class {
    /* margin-top: 30px; */
    margin-left: 90px;
    font-size: 19px;
    position:absolute;
    bottom: 8%;
}

.form {
    margin-top:15px;
    margin-left: 70px;
    padding:10px;
}

.form .form-option {
    border:1px solid rgb(5, 172, 238);
    padding:13px;
    padding-right: 130px;
    background-color: white;
    margin:10px;
    border-radius:8px;
}

.form-option::-webkit-input-placeholder {
    font-size: 15px;
}
.login-btn .btn {
    margin-top: 20px;
    margin-left: 6px;
    padding:10px 139px;
    border-radius:30px;
    color:white;
    background-color: rgb(56, 189, 241);
    font-size: 18px;
}

.login-btn .btn:hover {
    background-color: rgb(6, 166, 230);
    border-color:rgb(6, 166, 230);
    transition: 0.2s ease;
}

.footer {
    height:6vh;
    width:100vw;
    background-color: rgb(224, 223, 230);
    margin-top: 0;
}

.show-password {
    position: absolute;
    /* top:0px; */
    right:14%;
}

.show-password:hover {
    border:none;
    outline: none;
}

.forgot-pass-btn {
   color:rgb(6, 166, 230);
   margin-left: 200px;
   margin-top: -4px;
}

.pass-gen {
    border: none;
    background: none;
    color:rgb(15, 132, 228);
    position: relative;
    left:125px;
    font-size: 15px;
}

.pass-gen:hover {
    color:rgb(10, 75, 128);

}

/* .g-button {
    border-radius: 30px;
    padding-left: 15px;
    margin-top: 40px;
    margin-left: 80px;
    size: larger;
    shape: rectangular;
    width: 280px;
} */

@media only screen and (max-width: 1200px) and (min-width:1100px) {
    .image-container {
        width:40vw;
        object-fit:none;
        margin-right: 35px;
    }

    .image-container img {
        width:95%;
        height:77%;
        margin-top: 90px;
    }

    .heading-1 {
        font-size: 69px;
    }
}

@media only screen and (max-width: 1100px) and (min-width:1050px) {
    .image-container {
        width:45vw;
        object-fit:cover;
        margin-right: 35px;

    }

    .image-container img {
        width:80%;
        height:70%;
        margin-top: 90px;
    }

    .heading-1 {
        font-size: 62px;
    }
}

@media only screen and (max-width: 1050px) and (min-width:900px) {
    .image-container {
        width:50vw;
        object-fit:cover;
        margin-right: 0px;

    }

    .image-container img {
        width:75%;
        height:60%;
        margin-top: 90px;
    }

    .heading-1 {
        font-size: 53px;
    }
}

@media only screen and (max-width: 900px) and (min-width:600px) {
    .image-container {
        display: none;
    }

    .Twitter-icon-container {
        display: block;
    }

    .login-container {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) and (min-width:500px){
    .image-container {
        display: none;
    }

    .Twitter-icon-container {
        display: block;
    }

    .heading-1 {
        font-size: 50px;
    }

    .or-class {
        margin-left: 20%;
    }

   
}

@media only screen and (max-width: 500px){
    .image-container {
        display: none;
    }

    .Twitter-icon-container {
        display: block;
    }

    .heading-1 {
        font-size: 45px;
        padding-left: 15px;
    }

    .form-container {
        /* padding-right: auto;
        padding-left: auto; */
        width:100vw;
    }

    .heading-2 {
        font-size: 25px;
    }

    .or-class {
        margin-left: 22%;
    }
   
}

@media only screen and (max-width: 440px){
    .heading-1 {
        font-size: 38px;
        padding-left: 0px;
    }
    .heading-2 {
        font-size: 22px;
    }

    .btn-container {
        /* padding-right: auto;
        padding-left: auto; */
        padding-right: 6%;
    }

    .or-class {
        margin-left: 30%;
    }

    .google-button {
        padding-right: 10%;
    }

    .login-class {
        padding-right: 10%;
    }
}