.feed-page {
    width:46vw;
    height:100vh;
    /* display:flex; */
    /* align-items: center
    justify-content: center; */
    border-right: 1.5px solid rgb(202, 199, 199);
    margin-left:0;
    padding-top: 6px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    margin-right: 9px;

}

.feed-page::-webkit-scrollbar {
    display:none;
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .feed-page {
        width:54vw;
        /* min-width: 85vw; */
    }
}



@media only screen and (max-width: 900px) and (min-width: 750px){
    .feed-page {
        width:59vw;
        /* min-width: 85vw; */
    }
}

@media only screen and (max-width: 750px) and (min-width: 700px){ 
    .feed-page {
        width:73vw;
        /* min-width: 85vw; */
    }
}

@media only screen and (max-width: 700px) and (min-width: 600px){
    .feed-page {
        width:78vw;
        /* min-width: 85vw; */
    }
}

@media only screen and (max-width: 600px) {
    .feed-page {
        width:100vw;
        height:94vh;
    }
}