.bookmark-header {
    padding-left: 10px;
    padding-bottom: 12px;
    margin-bottom: 6px;
    margin-top: 0px !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    /* background-color: rgb(120, 207, 233); */
}

.bookmark-header p {
    color:grey;
    margin-top: -6px;
}

.bookmark-content {
    margin-top: 35px;
   
}

.bookmark-content h1 {
    font-size: 37px;
    text-align: center;
}

.bookmark-content p {
    margin-left: 141px;
}