/* #root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
} */



/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.home {
  display:flex;
  gap:0px;
  height: 100vh;
  width:100vw;
  /* max-height: 100%; */
}

.success-container {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  
}

.cancel-container {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  
}

.cancel-page h1 {
  color:rgb(247, 54, 54);
}
