* {
  margin:0;
  padding:0;
}

.follow_container {
    display:flex;
    justify-content: space-between;
    gap:15px;
    width:23vw;
    /* border:1px solid black; */
    margin:19px;
    margin-left: 40px;
}

.following-btn {
    color:black;
    background-color: white;
    position: relative;
    right:5%;
    padding:1px 16px;
    width:99px;
    height:33px;
    border-radius:20px;
    border:1px solid rgb(184, 180, 180);
    font-size: 17px;
}

.profile-section {
    display: flex;
    gap: 15px;
}

.info button {
    background-color: white;
    color:black;
    padding:0;
    border:none
}

.info button:hover {
    text-decoration: underline;
}

.follow-btn {
    position: relative;
    right:5%;
    padding:1px 20px;
    width:95px;
    height:33px;
    border-radius:20px;
    color:white;
    border:none;
    background-color: rgb(56, 189, 241);
    font-size: 17px;
    /* position:relative;
    right:; */
    /* justify-self:center;
    align-self: center; */
}

@media only screen and (max-width: 1300px) and (min-width:1100px) {
    .follow-btn {
        right:-5%;
    }
}


@media only screen and (max-width: 1100px) and (min-width:900px) {

    .follow_container {
        width:85%;
    }

    .follow-btn {
        padding:1px 16px;
        width:80px;
        height:29px;
        font-size: 16px;
        right:0%;
    }
}

@media only screen and (max-width: 900px) and (min-width:600px) {

    .follow_container {
        width:85%;
    }

    .follow-btn {
        padding:1px 16px;
        width:75px;
        height:26px;
        font-size: 14px;
        right:2%;
    }

    .info button h4 {
        font-size: 13px;
    }

    .info h5 {
        font-size: 12px;

    }
}